@model ADASSESSMENT.Models.TimeSlot

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TimeSlot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.monSlot1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.monSlot1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.monSlot2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.monSlot2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.monSlot3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.monSlot3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tueSlot1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tueSlot1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tueSlot2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tueSlot2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tueSlot3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tueSlot3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wedSlot1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wedSlot1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wedSlot2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wedSlot2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wedSlot3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wedSlot3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.thuSlot1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.thuSlot1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.thuSlot2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.thuSlot2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.thuSlot3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.thuSlot3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.friSlot1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.friSlot1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.friSlot2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.friSlot2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.friSlot3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.friSlot3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.satSlot1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.satSlot1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.satSlot2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.satSlot2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.satSlot3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.satSlot3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sunSlot1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sunSlot1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sunSlot2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sunSlot2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sunSlot3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sunSlot3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.monSlot1String)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.monSlot1String)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.monSlot2String)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.monSlot2String)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.monSlot3String)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.monSlot3String)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tueSlot1String)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tueSlot1String)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tueSlot2String)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tueSlot2String)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tueSlot3String)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tueSlot3String)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wedSlot1String)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wedSlot1String)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wedSlot2String)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wedSlot2String)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wedSlot3String)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wedSlot3String)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.thuSlot1String)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.thuSlot1String)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.thuSlot2String)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.thuSlot2String)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.thuSlot3String)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.thuSlot3String)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.friSlot1String)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.friSlot1String)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.friSlot2String)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.friSlot2String)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.friSlot3String)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.friSlot3String)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.satSlot1String)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.satSlot1String)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.satSlot2String)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.satSlot2String)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.satSlot3String)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.satSlot3String)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sunSlot1String)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sunSlot1String)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sunSlot2String)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sunSlot2String)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sunSlot3String)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sunSlot3String)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlotBooked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlotBooked)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
