@model IEnumerable<ADASSESSMENT.Models.Engineer>

<style>
    .nfade {
        display: none;
    }


    .engineerlookup td {
        padding-top: .5em;
        padding-bottom: .5em;
    }

</style>

<div class="slider">
    <table id="engineerlookup" class="engineerlookup" style="width: 100%; border-spacing:0 2px">
        <thead>
            <tr style="background-color:Gainsboro;">
                <th style="border-radius: 10px 0 0 10px"></th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
                <th>Contact Number</th>
                <th>Date</th>
                <th>VRN</th>
                <th style="border-radius: 0 10px 10px 0">Comments</th>
                <th style="display:none" class="pl-2">Engineer Id</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var mod in Model)
                {
                    <tr style="background-color:#cce6ff">
                        <td class="engrdc" style="border-radius:  10px 0 0 10px"></td>
                        <td>@mod.FirstName</td>
                        <td>@mod.LastName</td>
                        <td>@mod.EmailAddress</td>
                        <td>@mod.ContactNumber</td>
                        <td>@mod.Date</td>
                        <td>@mod.VRN</td>
                        <td style="border-radius:  0 10px 10px 0">@mod.Comments</td>
                        <td style="display:none" value="">@mod.Id</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<script>

    var eng_table = null;
    var Id = 0;

    $(document).ready(function () {

        defaultSort = [[2, "asc"]];

        eng_table = $('#engineerlookup').DataTable({
            "dom": 'Bfrtip',
            "pageLength": 25,
            "columns": [
                {
                    "class": 'details-control',
                    "orderable": false,
                    "defaultContent": ''
                },
                { "data": "First Name" },
                { "data": "Last Name" },
                { "data": "Email Address" },
                { "data": "Contact Number" },
                { "data": "Date" },
                { "data": "VRN" },
                { "data": "Comments" },
                { "data": "Engineer Id" }
            ],
            "order": defaultSort,
            "language": {
                "emptyTable": "No engineer information available"
            },
            "buttons": [
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: [1]


                    },
                    title: function () { return 'AD Demo (Engineer Details)' },
                }
            ],

        });
        $('.nfade').fadeIn(500);

        $('#engineerlookup tbody').on('click', 'td.engrdc', function () {

            var tr = $(this).closest('tr');
            var row = eng_table.row(tr);

            var td = $(this).next('td');
            var data = row.data();

            Id = data["Engineer Id"];

            if (row.child.isShown()) {
                row.child.hide();
                tr.css('background-color', '#cce6ff');
                tr.removeClass('shown boxentry');
            }
            else {
                eng_table.rows().every(function () {
                    // If row has details expanded
                    if (this.child.isShown()) {
                        // Collapse row details
                        this.child.hide();
                        $(this.node()).removeClass('shown boxentry');
                        $(this.node()).css('background-color', '#cce6ff');
                    }
                });
                // Open this row
                row.child('<p><center>Loading...</center></p>', 'no-padding').show();
                tr.addClass('shown boxentry');
                tr.css('background-color', '#FFFAA0');
                $('div.slider', row.child()).slideDown();

                $.ajax({
                    type: "Get",
                    url: '@Url.Action("GetViewEngineerDetails", "Engineers")',
                    data: {

                        id: Id
                    },
                    success: function (data) {

                        $('td', row.child()).html(data);
                        $('div.slider', row.child()).show();
                    }
                });
            }
        });
    });

</script>
